#custom-dockericon{
	color: @color4;
  border-radius: 0px 0px 0px 0px;
	padding: 3px 0px;
  padding-left: 0px;
	margin: 0px 0px 0px 0px;
	font-weight: normal;
}
#custom-dockerps{
	color: @color4;
  border-radius: 0px 8px 8px 0px;
	padding: 3px 0px;
  padding-right: 15px;
	margin: 0px 0px 0px 0px;
}
