#pulseaudio{
  padding: 0px 5px 0px 15px;
  min-width: 20px;
  color: @color8;
}
#pulseaudio-slider {
  padding: 0px 15px 0px 0px;
}
#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 1;
  background-image: none;
  border: none;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 60px;
  border-radius: 5px;
  background-color: @color8;
}
#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @color3;
}
